.git
.github
node_modules
frontend/node_modules
frontend/src
frontend/public
backend/__pycache__
backend/*/__pycache__
backend/*/*/__pycache__
backend/venv
venv
*.pyc
*.pyo
*.pyd
*.db-journal
.DS_Store
Thumbs.db
.vscode
.idea
sbot_deploy_package.zip
