# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8975198229:AAFAv7ilmqbGlvew-ZEHBCNavwm5FSu18gM
ADMIN_TELEGRAM_ID=
SUPPORT_NOTIFICATION_CHAT_ID=

# Restaurant Details
STORE_NAME=Pandora Food House
CURRENCY=MMK

# Admin Dashboard Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SECRET_KEY=s-bot-restaurant-dashboard-secret-key-change-in-prod

# Database
DATABASE_URL=sqlite+aiosqlite:///./data.db
SYNC_DATABASE_URL=sqlite:///./data.db
