# Dependencies
node_modules/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database and uploads
*.db-journal
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables
.env
.env.local

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Zip packages
sbot_deploy_package.zip
